/* Reset default styles */
* {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  overflow: hidden; /* Hide overflow to prevent scrolling */
  background-color: black; /* Set background color to black */
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none
}

/* Define custom cursor */
.custom-cursor {
  cursor: url('./assets/cursor/pointer.png'), auto !important;
}

/* Terminal styles */
#terminal {
  border-radius: 10px;
  color: white;
  border: 2px solid #4d4d4d; /* Terminal border color */
  background-color: #1e1e1e; /* Terminal background color */
  width: 90%; /* Usar largura relativa */
  max-width: 600px; /* Limitar a largura máxima */
  height: auto; /* Ajustar a altura automaticamente */
  max-height: 400px; /* Limitar a altura máxima */
  margin: 10px auto; /* Centralizar com margem */
}

@media screen and (max-width: 600px) {
  /* Adjust styles for smaller screens, such as phones */
  #terminal {
      max-width: 90%; /* Increase width for smaller screens */
  }
}
/* Terminal header styles */
#terminal-header {
  background-color: #2d2d2d; /* Header background color */
  border-top-left-radius: 10px; /* Rounded corners for top left */
  border-top-right-radius: 10px; /* Rounded corners for top right */
  padding: 10px; /* Add padding */
  display: flex; /* Use flexbox for layout */
  justify-content: flex-start; /* Align buttons to the left */
  transition: background-color 0.3s; /* Smooth transition for background color */
}

/* Terminal header hover effect */
#terminal-header:hover {
  background-color: #333333; /* Darken header background on hover */
}

/* Terminal buttons styles */
#terminal-buttons {
  display: flex; /* Use flexbox for layout */
  gap: 10px; /* Add gap between buttons */
}

/* Individual terminal button styles */
.terminal-button {
  width: 15px; /* Adjust width as needed */
  height: 15px; /* Adjust height as needed */
  border-radius: 50%; /* Circular shape */
  cursor: pointer; /* Set cursor to pointer */
  transition: background-color 0.3s; /* Smooth transition for background color */
}

/* Terminal button hover effect */
.terminal-button:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent background on hover */
}

/* Close button styles */
#close-button {
  background-color: #FF5F57; /* Close button color */
}

/* Minimize button styles */
#minimize-button {
  background-color: #FFBD2E; /* Minimize button color */
}

/* Maximize button styles */
#maximize-button {
  background-color: #28CA42; /* Maximize button color */
}

/* Terminal content styles */
#terminal-content {
  padding: 20px; /* Add padding */
  height: calc(100% - 40px); /* Adjust for header height and padding */
  overflow-y: auto; /* Enable vertical scrolling if needed */
  user-select: none; /* Disable text selection */
}

/* Terminal text styles */
#terminal-text {
  margin: 0;
  padding: 0;
  font-size: 14px; /* Terminal text size */
  line-height: 1.5; /* Line height */
  overflow: hidden; /* Hide overflow */
  white-space: pre-line; /* Preserve line breaks */
}

/* Video background styles */
#video-background {
  position: fixed; /* Fixed position to cover the entire viewport */
  top: 0;
  left: 0;
  width: 100vw; /* 100% of viewport width */
  height: 100vh; /* 100% of viewport height */
  z-index: -1; /* Behind other content */
}

/* Scan lines effect */
#video-background::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: repeating-linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 0, rgba(255, 255, 255, 0.05) 1px, transparent 1px, transparent 2px);
  z-index: 1;
  pointer-events: none;
}

/* Video styles */
#myVideo {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover the entire viewport while maintaining aspect ratio */
  z-index: 0; /* Behind other content */
}

/* Positioning classes */
.top-left {
  top: 0;
  left: 0;
}

.top-right {
  top: 0;
  right: 0;
}

.bottom-left {
  bottom: 0;
  left: 0;
}

.bottom-right {
  bottom: 0;
  right: 0;
}

/* Blurred box styles */
#blurred-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%; /* Adjust width as needed */
  height: 33%; /* Adjust height as needed */
  background-color: rgba(255, 255, 255, 0); /* Transparent background */
  border-radius: 20px; /* Rounded corners */
  border: 2px solid rgba(255, 255, 255, 0); /* Dark border with transparency */
  box-shadow: 0 0 10px rgba(100, 100, 100, 0.5); /* Slightly blurred shadow */
  backdrop-filter: blur(5px); /* Apply blur effect */
  z-index: 999; /* Above other content */
  display: none; /* Initially hidden */
  padding: 20px; /* Add padding */
  text-align: center; /* Center text horizontally */
  transition: background-color 0.3s; /* Smooth transition for background color */
}

/* Blurred box hover effect */
#blurred-box:hover {
  background-color: rgba(255, 255, 255, 0.05); /* Semi-transparent background on hover */
}

/* Profile picture styles */
#blurred-box img {
  width: 100; /* Adjust size as needed */
  height: 100px; /* Adjust size as needed */
  border-radius: 10%; /* Rounded corners */
  margin-bottom: 20px; /* Adjust margin as needed */
}

/* Links styles */
.links {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  z-index: 1001; /* Ensure icons are above the blurred box */
}

.links a {
  display: flex;
  align-items: center;
  margin: 0 10px;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
}

/* Link hover effect */
.links a:hover {
  color: #000000;
}

.links a i {
  margin-right: 5px;
  font-size: 24px;
}

/* Hover styles for links */
.links a:hover {
  text-decoration: underline;
}

/* User Description styles */
.user-description {
  display: flex;
  justify-content: center; /* Centraliza a caixa horizontalmente */
  align-items: center; /* Centraliza a caixa verticalmente */
  margin-bottom: 10px; /* Ajuste da margem inferior */
  width: auto; /* Ajusta a largura da div conforme necessário */
  min-width: 280px; /* Largura mínima para garantir um tamanho adequado */
  padding: 15px; /* Aumenta o padding para tornar a div maior */
  border-radius: 10px; /* Aumenta o arredondamento das bordas */
}

.user-description p {
  margin: 0;
  padding: 10px 15px; /* Aumenta o padding dentro da caixa de texto */
  background-color: rgba(255, 255, 255, 0.1); /* Fundo semitransparente */
  border-radius: 5px; /* Bordas arredondadas */
  transition: background-color 0.3s;
  font-size: 14px;
  max-width: 300px; /* Ajuste o limite de largura conforme necessário */
  text-align: center; /* Centraliza o texto dentro da caixa */
  white-space: nowrap; /* Impede quebra de linha */
  overflow: hidden; /* Oculta o conteúdo que ultrapassa */
  text-overflow: ellipsis; /* Exibe '...' se o texto for muito longo */
}



/* User description hover effect */
.user-description:hover p {
  background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent background on hover */
}
